@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900;
}

/* Custom styles for carousel */
.carousel-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}


@media (max-width: 480px) {
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 1.75rem; /* Adjust heading size */
  }
  h2 {
    font-size: 1.25rem; /* Adjust subheading size */
  }
  nav {
    margin-top: 0.5rem;
  }
}

